

@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular,italic&display=swap");
@import url("reset.css");




body{
     font-family: "inter", sans-serif;
     font-size: 18px;
     color: #7D7D7D;
    }
.title,
.sub-title,
.sub-titel-h3,
.h4 {
font-family: "Poppins";
}

.title {
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 600;
    color: #37393F;
    
}
.sub-title {
    font-size: 30px;
    font-family: "Poppins";
    color: #37393F;
}
.sub-title-h3 {
    font-size: 20px;
    font-family: "Poppins";
    color: #6B77E5;
}
.sub-title-3 {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    color: #40DDB6;
}
span {color: #6B77E5}
.sub-title,
.sub-title-h3 {
    font-weight: 600;
    line-height: 1.27;
    
}
h4 {
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 600;
    line-height: 1.27;
    color: #37393F; 
}
* p {
    line-height: 1.46;
}
.title_jewelry {
    font-family: "DM Serif Text", sans-serif;
    font-size: 59px;
    font-weight: 400;
    line-height: 1.46;
    color: #0E333D;
}
.paragraph_jewelry {
    font-family: "inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    color: #474747;
}
.label_jewelry {
    font-family: "inter", sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #D06B00;
    margin-bottom: 13px;; 
}
Header {
    text-align: center;
}
.image img {
    width: 100%;
    
}
.image_work img {
    max-width: 331px;
    max-height: 261px;
}
.content {
    max-width: 692px;
    margin: 0 auto;
}
.image_work,
.work_content
 {
    display: inline-block;
    vertical-align: top;
}
.jewelry {
    font-size: 0;
    max-width: 1169px;
    margin: 0 auto;
}
.image_jewerly {
    max-width: 568px; 
    display: inline-block;
    vertical-align: top;
}
.jewelry_content {
    max-width: 563px;
    display: inline-block;
    vertical-align: top;
}
.image_jewerly img {
    max-width: 273px;
    height: 518px;
}
.image_one {
    margin-right: 22px;
}
.jewelry_content {
    margin-right: 38px;
    margin-top: 21px;
    margin-bottom: 21px;
}
.title_jewelry {
    margin-bottom: 25px;
}
.sub-title {
    margin-bottom: 10px;
}
.image {
    margin-bottom: 37px;
}
.completely {
margin-bottom: 42px;
}
.sub-title-h3 {
    margin-bottom: 12px;
}
 
h4 {
    margin-bottom: 15px; 
}
.sub-title-3 {
    margin-bottom: 21px;
}
.image_work {
    margin-right: 29px;
}
.work_content ol li:not(:last-child) {
    margin-bottom: 30px;
}
.Practice {
    font-size: 0;
    margin: 0 auto;
    text-align: center;
}
.practice_paragraph {
    padding: 30px 30px 30px 30px;
    background-color: #0abaeb;
    color: #000;
    width: 600px;
    margin-bottom: 80px;
}
.my_photo img {
    max-width: 500px;
    max-height: 400px;
    font-size: 0;
    vertical-align: top;
}
.retreat {
    margin-left: -200px;
    margin-top: 50px;
}
.practice_paragraph_two {
    width: 400px;
    max-height: 150px;
    overflow: hidden;
    background-color: aqua;
    color: #000;
    margin: 50px;
}
.practice_paragraph_three {
    width: 200px;
    height: 150px;
    overflow: scroll;
}